extend base 

block content 
    .container-fluid
        .row
            .col-md-4
                // Profile Image
                .card.card-primary.card-outline
                    .card-body.box-profile
                        .text-center
                            img.profile-user-img.img-fluid.img-circle(src='../img/users/avatar04.png' alt='User profile picture' style='height:200px; width:200px')
                            h3.profile-username.text-center #{user.name}
                        .row.mb-2
                            .col-4.mt-3
                                span email: 
                            .col-8
                                p.text-sm.text-right.text-white
                                | #{user.email}
                        
                        .row.mb-2
                            .col-4.mt-3
                                span phone: 
                            .col-8
                                p.text-sm.text-right.text-white
                                | #{user.phone}
                        
                        
                    // /.card-body
                    // /.card
                    // /.col
            .col-md-8
                .card.card-primary
                .card-header
                    h3.card-title User Info
                // /.card-header
                // form start
                form(role='form' method='post' action="#" enctype='multipart/form-data')
                    .card-body
                    .form-group
                        label(for='firstname') FullName
                        input#exampleInputEmail1.form-control(type='text' name='name' value=`${user.name}` readonly='')
                    .form-group
                        label(for='middlename') Phone
                        input#exampleInputEmail1.form-control(type='text' name='phone' class='@erro' value=`${user.phone}` readonly='')
                    .form-group
                        label(for='email') Email
                        input#exampleInputEmail1.form-control(type='text' name='email' value=`${user.email}` readonly='')
                    .form-group
                        label(for='exampleInputFile')
                        | Upload image  
                        span  &nbsp; &nbsp; &nbsp; &nbsp; must be less than 2mb
                        .input-group
                        .custom-file
                            input#exampleInputFile.custom-file-input(type='file' name='image' required='')
                            label.custom-file-label(for='exampleInputFile') Choose file
                    
                    // /.card-body
                    .card-footer
                    button.btn.btn-primary(type='submit' name='update') Submit
                // /.nav-tabs-custom
                // About Me Box
                .card.card-primary
                .card-header
                    h3.card-title Change Password
                // /.card-header
                .card-body
                    form(action="<?php $_SERVER['PHP_SELF'] ?>" method='post')
                    .form-group
                        label(for='product-name') Old Password
                        input#exampleInputEmail1.form-control(type='password' name='oldpassword' placeholder='Enter Old password' required='')
                    .form-group
                        label(for='product-name') New Password
                        input#exampleInputEmail1.form-control(type='password' name='password' placeholder='Enter new password' required='')
                    .form-group
                        label(for='product-name') Confirm password
                        input#exampleInputEmail1.form-control(type='password' name='c_password' placeholder='Confirm password' required='')
                    .card-footer
                        button.btn.btn-primary(type='submit' name='changepassword') Submit

